

  <button mat-raised-button (click)="addFood()">Thêm</button>
  <button mat-raised-button (click)="deleteFood()" [disabled]="!haveSelection">Xóa</button>
  <button mat-raised-button (click)="updateFood()" [disabled]="!haveSelection">Sửa</button>

  <div class="example-container mat-elevation-z8">
      <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
          </mat-form-field>
        </div>
    <mat-table #table [dataSource]="dataSource">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef> Chọn </mat-header-cell>
    <mat-cell *matCellDef="let row; let ind = index">
      <mat-checkbox
      (change)="cellCheckToggle(row, ind)" [(ngModel)] = "selectedCheckbox[ind]" >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Tiêu đề </mat-header-cell>
        <mat-cell *matCellDef="let element" hr> <a href="/food/edit/{{element.id}}">{{element.title}}</a> </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="backdrop">
        <mat-header-cell *matHeaderCellDef> Ảnh bìa </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img src="{{element.backdrop}}" style="width: 100px"></mat-cell>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Tác giả </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="postedAt">
        <mat-header-cell *matHeaderCellDef> Ngày đăng </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.postedAt | date:"dd/MM/yy"}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  ></mat-row>
    </mat-table>
    <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  </div>
