<header>
    <div class="header-background"></div>
  <div class="header container">
      <div class="logo-container col-lg-2">
          <img class="logo" src="assets/images/cookery.png" alt="">
      </div>

      <div class="col-lg-8 menu-container">
          <ul class="menu">
              <li><a class="header-menu" (click)="btnFood()" >{{!isLogin ? "Tải ngay": "Bài viết"}}</a></li>
              <li><a class="header-menu" (click)="btnIngre()" >{{!isLogin ? "Giới thiệu": "Nguyên liệu"}}</a></li>
              <li><a class="header-menu" (click)="btnUser()" >{{!isLogin ? "Demo": "Tài khoản"}}</a></li>
          </ul>
      </div>
      <div class="col-lg-2 login">
          <button class="login-btn" (click)="btnClick()"  >{{isLogin ? "Đăng xuất": "Đăng nhập"}}</button>
      </div>

  </div>
</header>
