<header>
  <div class="header container">
      <div class="logo-container col-lg-2">
          <img class="logo" src="assets/images/cookery.png" alt="">
      </div>

      <div class="col-lg-8 menu-container">
          <ul class="menu">
              <li><a class="header-menu" href="#">Get App</a></li>
              <li><a class="header-menu" href="#">About</a></li>
              <li><a class="header-menu" href="#">Demo</a></li>
          </ul>
      </div>
      <div class="col-lg-2 login">
          <a class="login-btn" href="login">Log in</a>
      </div>

  </div>
</header>
