<div class="container">
  <div class="example-container mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
          </mat-form-field>
      <button class="cancelbtn" (click)="updateUser()" [disabled]="!haveSelection">Cập nhật</button>
    <mat-table #table [dataSource]="dataSource">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef > Chọn </mat-header-cell>
    <mat-cell *matCellDef="let row; let ind = index"  style="width: 50px">
      <mat-checkbox
      (change)="cellCheckToggle(row, ind)" [(ngModel)] = "selectedCheckbox[ind]" >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.email}} </mat-cell>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Họ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <!-- First name Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="disabled">
        <mat-header-cell *matHeaderCellDef> Kích hoạt </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox [(ngModel)] = "!element.disabled"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Permission Column -->
      <ng-container matColumnDef="permission">
        <mat-header-cell *matHeaderCellDef> Biên tập viên </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox [(ngModel)] = "element.roles.editor"></mat-checkbox></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  ></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
  </div>
