<div class="admin-container">
  <div class="container">
    <div class="admin-wrapper">
      <div class="left-section col-md-3 col-lg-3">
        <div class="admin-header-wrapper">
          <div class="admin-ava-container">
            <a href="#" class="admin-ava">
              <img src="assets/images/a1.jpg" alt="Braden Hamm">
            </a>
          </div>
          <div class="admin-info-container">
            <a href="#">
              <span>Quản trị</span>
            </a>
          </div>
        </div>
        <div class="sidebar">
          <div id="main-menu" class="list-group">
            <a href="#sub-menu" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Món ăn
              <span class="caret"></span>
            </a>
            <div class="collapse list-group-level1" id="sub-menu">
              <a href="/admin/add-post" class="list-group-item" data-parent="#sub-menu">Thêm món ăn</a>
              <a href="/admin/view-post" class="list-group-item" data-parent="#sub-menu">Hiển thị món ăn</a>
            </div>
            <a href="#sub-menu2" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Nguyên liệu
              <span class="caret"></span>
            </a>
            <div class="collapse list-group-level1" id="sub-menu2">
              <a href="/admin/add-ingredient" class="list-group-item" data-parent="#sub-menu">Thêm nguyên liệu</a>
              <a href="/admin/view-ingredient" class="list-group-item" data-parent="#sub-menu">Hiển thị nguyên liệu</a>
            </div>
            <a href="#" class="list-group-item">Đổi mật khẩu</a>

          </div>

        </div>
      </div>
      <div class="right-section col-md-9 col-lg-9">
        <form [formGroup]="form" >
          <div class="container-fluid">

            <div class="container col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-md-10 col-sm-10 col-lg-10">
              <div class="title-container form-group">
                <label for="title">Tiêu đề</label>
                <input name="title" id="" placeholder="Nhập tiêu đề" [(ngModel)]="food.title" formControlName="title">
              </div>
              <div class="title-container form-group">
                <label for="backdrop">Ảnh bìa</label>
                <input name="backdrop" id="" type="file" placeholder="Link ảnh bìa"
                accept="image/*" (change)="changeListener($event)" formControlName="backdrop">
              </div>
              <div class="image-container form-group">
                <img height="" width="" id='img-upload' src="{{food.backdrop}}" />
              </div>

              <div >
                <form [formGroup]="ingreForm">
                  <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)] = "ingre.name"  formControlName="ingreName" required >
                  </mat-form-field>
                  <mat-select placeholder="Unit" style="width: 100px" [(ngModel)]="ingre.unit" formControlName = "ingreUnit">
                    <mat-option *ngFor="let unit of units" [value]="unit.value" >
                      {{ unit.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-form-field>
                    <input matInput placeholder="Quantity" [(ngModel)] = "ingre.amount"  formControlName="ingreAmount" required pattern="[0-9]+">
                  </mat-form-field>
                  <div class="btn-container">
                    <button class="cancelbtn" mat-raised-button (click)="addIngre()" [disabled]="ingreForm.invalid">Thêm</button>
                    <button class="cancelbtn" mat-raised-button (click)="deleteIngre()" [disabled]="!haveSelection">Xóa</button>
                    <button class="cancelbtn" mat-raised-button (click)="updateIngre()" [disabled]="!haveSelection">Sửa</button>
                  </div>
                  <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef> Chọn </mat-header-cell>
                    <mat-cell *matCellDef="let row; let ind = index">
                      <mat-checkbox
                      (change)="cellCheckToggle(row, ind)" [(ngModel)] = "selectedCheckbox[ind]" [ngModelOptions]="{standalone: true}">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
                        <mat-cell *matCellDef="let element" > {{element.name}} </mat-cell>
                      </ng-container>



                      <!-- Unit Column -->
                      <ng-container matColumnDef="unit">
                        <mat-header-cell *matHeaderCellDef> Đơn vị </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
                      </ng-container>

                      <!-- Amount Column -->
                      <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Số lượng </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"  ></mat-row>
                    </mat-table>
                  </div>
                </form>
              </div>

              <div class="tag-container title-container form-group">               
                <label for="tagsinput">Kiểu món ăn</label>
                <tag-input [(ngModel)]="tags" [editable]="true" formControlName="tags" placeholder="Enter the type of food">
                </tag-input>
              </div>
              
              <div class="editor-container form-group">
                  <div class="title-container-admin">
                      <label for="content">Nội dung</label>
                    </div>
                <quill-editor [style]="{height: '200px'}" [(ngModel)]="food.body" formControlName="body">

                </quill-editor>

              </div>

              <div class="add-action-container form-group">
                <div class="">
                  <button class="cancelbtn"  (click) = 'onSubmit()'>Lưu</button>
                  <span>{{message}}</span>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

