<div class="container list-container">
  <form [formGroup]="ingreForm">
    <mat-form-field>
      <input matInput placeholder="Tên nguyên liệu" [(ngModel)]="ingre.name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Giá" type="number" [(ngModel)]="ingre.price" formControlName="price" required pattern="[0-9]+">
    </mat-form-field>
    <mat-select placeholder="Đơn vị" style="width: 100px" [(ngModel)]="ingre.unit" formControlName="unit">
      <mat-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
      </mat-option>
    </mat-select>
    <mat-form-field>
      <input matInput placeholder="Số lượng" type="number" [(ngModel)]="ingre.amount" formControlName="amount" required pattern="[0-9]+">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Calo/100gram" type="number" [(ngModel)]="ingre.calories" formControlName="calories" required pattern="[0-9]+">
    </mat-form-field>
    <div class="btn-container">
      <button class="cancelbtn" (click)="addIngre()" [disabled]="ingreForm.invalid">Thêm</button>
      <button class="cancelbtn" (click)="deleteIngre()" [disabled]="!haveSelection">Xóa</button>
      <button class="cancelbtn" (click)="updateIngre()" [disabled]="!haveSelection">Sửa</button>
    </div>

  </form>
  <div class="example-container mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef> Chọn </mat-header-cell>
        <mat-cell *matCellDef="let row; let ind = index">
          <mat-checkbox (change)="cellCheckToggle(row, ind)" [(ngModel)]="selectedCheckbox[ind]">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Giá cả </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>
<!-- Amount Column -->
<ng-container matColumnDef="calories">
  <mat-header-cell *matHeaderCellDef> Năng lượng </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.calories}} </mat-cell>
</ng-container>
      <!-- Unit Column -->
      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef> Đơn vị </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Số lượng </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
